<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

    <head>
        
    <meta charset="utf-8" />
    <title>Get Assistance | MediAid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Suggestion Center MediAid" name="description" />
    <meta content="MediAid" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static',filename='assets/images/favicon.ico')}}">

    <!-- Layout config Js -->
    <script src="{{url_for('static',filename="assets/js/layout.js")}}"></script>
    <!-- Bootstrap Css -->
    <link href="{{url_for('static',filename="assets/css/bootstrap.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{url_for('static',filename="assets/css/icons.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{url_for('static',filename="assets/css/app.min.css")}}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{url_for('static',filename='assets/css/custom.min.css')}}" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/logo-dark.png" alt="" height="17">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/logo-light.png" alt="" height="17">
                        </span>
                    </a>
                </div>
                <div class="">
                    {% if current_user.is_authenticated %}
                    <a href="/logout" class="btn btn-primary" style="margin-left: auto;margin-right: 0;">Sign out</a>

                    {% else %}
                    <a href="/login" class="btn btn-link fw-medium text-decoration-none text-dark">Sign
                        in</a>
                    <a href="/register" class="btn btn-primary">Sign Up</a>
                    {% endif %}
                </div>
                

                <!-- App Search-->
                
            </div>

            
        </div>
    </div>
</header>
            <!-- ========== App Menu ========== -->
            <div class="app-menu navbar-menu">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <!-- Dark Logo-->
                    <a href="/" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{{url_for('static',filename="assets/images/logo-sm.png")}}" alt="" height="60">
                        </span>
                        <span class="logo-lg">
                            <img src="{{url_for('static',filename="assets/images/logo-dark.png")}}" alt="" height="60">
                        </span>
                    </a>
                    <!-- Light Logo-->
                    <a href="/" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{{url_for('static',filename="assets/images/logo-sm.png")}}" alt="" height="60">
                        </span>
                        <span class="logo-lg">
                            <img src="{{url_for('static',filename="assets/images/logo-dark.png")}}" alt="" height="60">
                        </span>
                    </a>
                    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                        id="vertical-hover">
                        <i class="ri-record-circle-line"></i>
                    </button>
                </div>

                <div id="scrollbar">
                    <div class="container-fluid">

                        <div id="two-column-menu">
                        </div>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
                                    aria-expanded="false" aria-controls="sidebarDashboards">
                                    <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Assistance Panel</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarDashboards">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="{{url_for('hospital_area')}}" class="nav-link" data-key="t-analytics"> Hospitals Based on Area
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('hospital_subject')}}" class="nav-link" data-key="t-crm"> Best Hospitals based on Subject </a>
                                        <li class="nav-item">
                                            <a href="{{url_for('doctor_area')}}" class="nav-link" data-key="t-analytics"> Doctors Based on Area
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('doctor_subject')}}" class="nav-link" data-key="t-crm"> Best Doctors based on Subject </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('emer_info')}}" class="nav-link" data-key="t-crm"> Emergency Contact assistance </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ui>
                    </div>
                </div>

                

            </div>
            <!-- Left Sidebar End -->
            <!-- Vertical Overlay-->
            <div class="vertical-overlay"></div>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Get Assistance</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item active">Get Assistance</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        
                    </div>
                    <!-- container-fluid -->

                    {% block content %}
                    
                    {% endblock %}
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © MediAid. Zulkar Nain
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Design & Develop by Zulkar Nain
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        

        <!--start back-to-top-->
        

         <!-- JAVASCRIPT -->
   <script src="{{url_for('static',filename='./assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
   <script src="{{url_for('static',filename='./assets/libs/simplebar/simplebar.min.js')}}"></script>
   <script src="{{url_for('static',filename='./assets/libs/node-waves/waves.min.js')}}"></script>
   <script src="{{url_for('static',filename='./assets/libs/feather-icons/feather.min.js')}}"></script>
   <script src="{{url_for('static',filename='./assets/js/pages/plugins/lord-icon-2.1.0.js')}}"></script>
   <script src="{{url_for('static',filename='./assets/js/plugins.js')}}"></script>
   

   <!--Swiper slider js-->
   <script src="{{url_for('static',filename='./assets/libs/swiper/swiper-bundle.min.js')}}"></script>

   <!-- landing init -->
   <script src="{{url_for('static',filename='./assets/js/pages/landing.init.js')}}"></script>
    </body>

</html>