{% extends 'base1.html' %}

{% block content%}



                        

                        <div class="row">
                            <div class="col-xxl-12">
                                <h5 class="mb-3">Best Doctors Based on Subject Discipline</h5>
                                <div class="card">
                                    <div class="card-body">                                       
                                        
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs mb-3" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">
                                                    ENT
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#product1" role="tab" aria-selected="false">
                                                    Neurology    
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#messages" role="tab" aria-selected="false">
                                                    Orthopedics   
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#settings" role="tab" aria-selected="false">
                                                    Cardiology    
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#settings1" role="tab" aria-selected="false">
                                                    Nefrology    
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#settings2" role="tab" aria-selected="false">
                                                    Medicine  
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content  text-muted">
                                            <div class="tab-pane" id="home" role="tabpanel" >

                                                <div class="row g-4 mb-3">
                                                    <div class="col-xxl-3 col-sm-6 project-card">
                                                        <div class="card card-height-20">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-column h-100">
                                                                    <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                            <p class="text-muted mb-4">Ibn Sina - Dhanmondi 27</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex mb-2">
                                                                        <div class="flex-shrink-0 me-3">
                                                                            <div class="avatar-sm">
                                                                                <span class="avatar-title bg-soft-warning rounded p-0">
                                                                                    <img src="{{url_for('static',filename="assets/images/brands/doc.png")}}" alt=""
                                                                                        class="img-fluid p-1">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                            <h5 class="mb-1 fs-15"><a href="apps-projects-overview.html"
                                                                                    class="text-dark">Mohibur Rahman</a></h5>
                                                                            <p class="text-muted text-truncate-three-lines mb-3">ENT Specialist<br> Fee: 1000TK/visit <br> Sat-Wed : 2pm-5pm</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card body -->
                                                            <div class="card-footer bg-transparent border-top-dashed py-2">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-grow-1">
                                                                        <div class="avatar-group">
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Darline Williams">
                                                                                
                                                                            </a>
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Add Members">
                                                                                <div class="avatar-xxs">
                                                                                    <div
                                                                                        class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                                                                        +
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <div class="text-muted">
                                                                            More about the doctor.
                                                                        </div>
                                                                    </div>
                            
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card footer -->
                                                        </div>
                                                        <!-- end card -->
                                                    </div>


                                                







                                            </div>
                                                



                                            </div>
                                            <div class="tab-pane active" id="product1" role="tabpanel">
                                                <div class="row g-4 mb-3">
                                                    
                                                    
                                                    <div class="col-xxl-3 col-sm-6 project-card">
                                                        <div class="card card-height-20">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-column h-100">
                                                                    <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                            <p class="text-muted mb-4">Apollo Hospital - Block G</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex mb-2">
                                                                        <div class="flex-shrink-0 me-3">
                                                                            <div class="avatar-sm">
                                                                                <span class="avatar-title bg-soft-warning rounded p-0">
                                                                                    <img src="{{url_for('static',filename="assets/images/brands/doc.png")}}" alt=""
                                                                                        class="img-fluid p-1">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                            <h5 class="mb-1 fs-15"><a href="apps-projects-overview.html"
                                                                                    class="text-dark">Bishnu Mondol</a></h5>
                                                                            <p class="text-muted text-truncate-three-lines mb-3">Neurology Specialist<br>Fee: 2000TK/Visit <br> Mon-Wed : 8am-11qm/p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card body -->
                                                            <div class="card-footer bg-transparent border-top-dashed py-2">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-grow-1">
                                                                        <div class="avatar-group">
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Darline Williams">
                                                                                
                                                                            </a>
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Add Members">
                                                                                <div class="avatar-xxs">
                                                                                    <div
                                                                                        class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                                                                        +
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <div class="text-muted">
                                                                            More about the Doctor.
                                                                        </div>
                                                                    </div>
                            
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card footer -->
                                                        </div>
                                                        <!-- end card -->
                                                    </div>
    
    
    
    
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="messages" role="tabpanel">
                                                <div class="row g-4 mb-3">
                                                    
                                                    <div class="col-xxl-3 col-sm-6 project-card">
                                                        <div class="card card-height-20">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-column h-100">
                                                                    <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                            <p class="text-muted mb-4">Ibn Sina - Kallayanpur</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex mb-2">
                                                                        <div class="flex-shrink-0 me-3">
                                                                            <div class="avatar-sm">
                                                                                <span class="avatar-title bg-soft-warning rounded p-0">
                                                                                    <img src="{{url_for('static',filename="assets/images/brands/doc.png")}}" alt=""
                                                                                        class="img-fluid p-1">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                            <h5 class="mb-1 fs-15"><a href="apps-projects-overview.html"
                                                                                    class="text-dark">Harun-Ar-Rashid</a></h5>
                                                                            <p class="text-muted text-truncate-three-lines mb-3">Orthopedics Specialist<br>Fee: 1000TK/Visit <br> Mon-Wed : 5pm-8pm</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card body -->
                                                            <div class="card-footer bg-transparent border-top-dashed py-2">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-grow-1">
                                                                        <div class="avatar-group">
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Darline Williams">
                                                                                
                                                                            </a>
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Add Members">
                                                                                <div class="avatar-xxs">
                                                                                    <div
                                                                                        class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                                                                        +
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <div class="text-muted">
                                                                            More about the Doctor.
                                                                        </div>
                                                                    </div>
                            
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card footer -->
                                                        </div>
                                                        <!-- end card -->
                                                    </div>
    
    
                                                    
    
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="settings" role="tabpanel">
                                                <div class="row g-4 mb-3">
                                                    
                                                    
                                                    
                                                    <div class="col-xxl-3 col-sm-6 project-card">
                                                        <div class="card card-height-20">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-column h-100">
                                                                    <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                            <p class="text-muted mb-4">Dhaka Medical Collage</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex mb-2">
                                                                        <div class="flex-shrink-0 me-3">
                                                                            <div class="avatar-sm">
                                                                                <span class="avatar-title bg-soft-warning rounded p-0">
                                                                                    <img src="{{url_for('static',filename="assets/images/brands/doc.png")}}" alt=""
                                                                                        class="img-fluid p-1">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                            <h5 class="mb-1 fs-15"><a href="apps-projects-overview.html"
                                                                                    class="text-dark">Shaheen Hossain</a></h5>
                                                                            <p class="text-muted text-truncate-three-lines mb-3">Cardiology Specialist <br> Fee: 1500TK/Visit <br> Sat-Wed : 8pm-9pm</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card body -->
                                                            <div class="card-footer bg-transparent border-top-dashed py-2">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-grow-1">
                                                                        <div class="avatar-group">
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Darline Williams">
                                                                                
                                                                            </a>
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Add Members">
                                                                                <div class="avatar-xxs">
                                                                                    <div
                                                                                        class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                                                                        +
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <div class="text-muted">
                                                                            More about the Doctor.
                                                                        </div>
                                                                    </div>
                            
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card footer -->
                                                        </div>
                                                        <!-- end card -->
                                                    </div>
    
    
    
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="settings1" role="tabpanel">
                                                <div class="row g-4 mb-3">


                                                    <div class="col-xxl-3 col-sm-6 project-card">
                                                        <div class="card card-height-20">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-column h-100">
                                                                    <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                            <p class="text-muted mb-4">Evercare - Gulshan 2</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex mb-2">
                                                                        <div class="flex-shrink-0 me-3">
                                                                            <div class="avatar-sm">
                                                                                <span class="avatar-title bg-soft-warning rounded p-0">
                                                                                    <img src="{{url_for('static',filename="assets/images/brands/doc.png")}}" alt=""
                                                                                        class="img-fluid p-1">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                            <h5 class="mb-1 fs-15"><a href="apps-projects-overview.html"
                                                                                    class="text-dark">Jeba Islam</a></h5>
                                                                            <p class="text-muted text-truncate-three-lines mb-3">Nefrology Specialist<br>Fee: 1000TK/Visit <br> Mon-Wed : 2pm-6pm</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card body -->
                                                            <div class="card-footer bg-transparent border-top-dashed py-2">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-grow-1">
                                                                        <div class="avatar-group">
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Darline Williams">
                                                                                
                                                                            </a>
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Add Members">
                                                                                <div class="avatar-xxs">
                                                                                    <div
                                                                                        class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                                                                        +
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <div class="text-muted">
                                                                            More about the hospital.
                                                                        </div>
                                                                    </div>
                            
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card footer -->
                                                        </div>
                                                        <!-- end card -->
                                                    </div>
    
    
    
    
                                                </div>
                                            </div>


                                            <div class="tab-pane" id="settings2" role="tabpanel">
                                                <div class="row g-4 mb-3">
                                                    <div class="col-xxl-3 col-sm-6 project-card">
                                                        <div class="card card-height-20">
                                                            <div class="card-body">
                                                                <div class="d-flex flex-column h-100">
                                                                    <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                            <p class="text-muted mb-4">MediNova - Dhanmondi 6/A</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex mb-2">
                                                                        <div class="flex-shrink-0 me-3">
                                                                            <div class="avatar-sm">
                                                                                <span class="avatar-title bg-soft-warning rounded p-0">
                                                                                    <img src="{{url_for('static',filename="assets/images/brands/doc.png")}}" alt=""
                                                                                        class="img-fluid p-1">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                            <h5 class="mb-1 fs-15"><a href="apps-projects-overview.html"
                                                                                    class="text-dark">Md. Kholilur Rahman</a></h5>
                                                                            <p class="text-muted text-truncate-three-lines mb-3">Medicine Specialist <br> Fee: 500TK/Visit <br> Sat-Wed : 5pm-9pm</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card body -->
                                                            <div class="card-footer bg-transparent border-top-dashed py-2">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-grow-1">
                                                                        <div class="avatar-group">
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Darline Williams">
                                                                                
                                                                            </a>
                                                                            <a href="{{url_for('index')}}" class="avatar-group-item"
                                                                                data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                                data-bs-placement="top" title="Add Members">
                                                                                <div class="avatar-xxs">
                                                                                    <div
                                                                                        class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                                                                        +
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <div class="text-muted">
                                                                            More about the Doctor.
                                                                        </div>
                                                                    </div>
                            
                                                                </div>
                            
                                                            </div>
                                                            <!-- end card footer -->
                                                        </div>
                                                        <!-- end card -->
                                                    </div>
    
    
    
                                                </div>
                                            </div>


                                        </div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!--end col-->

                            
                        </div>



{% endblock %}

